/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Style */
body{
  font-family: 'Poppins', sans-serif;
}
ul li{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
.global-btn {
  padding: 13px 40px;
  background: #F40404;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-weight: 600;
font-size: 16px;
line-height: 24px;
text-transform:uppercase ;
}
/* General Style End */
/* Header Css Start */
header{
  background: #000;
  padding: 16px 0;
  border-bottom: 5px solid #FFB800;
}
header a{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
header .mail {
  padding-right: 15px;
  border-right: 1px solid #fff;
  display: flex;
  align-items: center;
}
header .phone{
  padding-left: 15px;
  display: flex;
  align-items: center;
}
header i{
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  margin-right: 5px;
  color: #fff;
}
header .contact-info {
  display: flex;
  align-items: center;
}
header .social-area i{
  padding-left: 20px;
}
/* Header Css End */
/* Nav Css Start */
nav{
  background: #F40404;
  padding: 20px 0 !important;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li{
  padding-right: 47px;
}
nav ul li a{
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 0 !important;
}
li.nav-item.contact-btn {
  padding: 0;
  border: 2px solid #fff;
  padding: 13px 30px;
}
/* Nav Css End */
/* Carousel Css Start */
.carousel .bgimg{
  background: url("../img/banner.png") no-repeat center;
  background-size: cover;
}
.carousel .bgimg .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
padding: 257px 0;

}
.carousel button{
  opacity: 1;
}
.carousel i{
  font-size: 60px;
  color: #fff;
}
.carousel .bgimg .overlay h2{
  font-weight: 700;
font-size: 64px;
line-height: 96px;
color: #fff;
max-width: 842px;
margin-bottom: 31px;
}

/* Carousel Css End */
/* Country Css Start */
.country{
  padding: 78px 0;
}
.country .row{
  align-items: center;
}
.heading h2 {
  font-size: 48px;
}
.country p {
  max-width: 651px;
  margin: 0 auto;
}
/* Country Css End */
.four-img{
  margin-bottom: 28px;
}
.four-img .imgs {
  display: flex;
  justify-content: space-between;
}
.four-img .imgs .img{
  width: 24%;
}
.four-img .imgs .img img{
  width: 100%;
}

